<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.dao.cascade.DepartmentMapper">
	<!-- 级联查询方法三 -->
	<select id="getDepartmentById" resultType="com.mybatis.bean.cascade.Department">
		SELECT * FROM department WHERE id = #{id};
	</select>

	<!-- 多表联查方式1:嵌套查询 -->
	<resultMap id="departmentUnion1" type="com.mybatis.bean.cascade.Department">
		<id column="department_id" property="id"/>
		<result column="department_name" property="name"/>
		<!-- 集合类型属性封装,ofType指定集合中元素的类型 -->
		<collection property="workers" ofType="com.mybatis.bean.cascade.Worker">
			<id column="id" property="id"/>
			<result column="worker_name" property="name"/>
		</collection>
	</resultMap>
	<select id="getDepartmentByUnionQuery1" resultMap="departmentUnion1">
		SELECT w.id id,w.name worker_name,w.department_id department_id,
			   d.name department_name
		FROM worker w
		LEFT JOIN department d
		ON w.department_id = d.id
		WHERE d.id = #{id};
	</select>

	<!-- 多表联查方式2：分步查询 -->
	<resultMap id="departmentUnion2" type="com.mybatis.bean.cascade.Department">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<collection property="workers"
					select="com.mybatis.dao.cascade.WorkerMapper.getWorkerByDepartmentId"
					column="id"></collection>
	</resultMap>
	<select id="getDepartmentByUnionQuery2" resultMap="departmentUnion2">
		SELECT id,name FROM department WHERE id = #{id};
	</select>

</mapper>
