<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.main.dao.EmployeeMapper">
    <select id="getEmployeeById" resultType="com.main.bean.Employee">
		SELECT * FROM employee WHERE id = #{id};
	</select>

	<select id="getEmployees" resultType="com.main.bean.Employee">
		SELECT * FROM employee;
	</select>
</mapper>