<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- thymeleaf 抽取模板 th:fragment="抽取片段名"-->
<nav th:fragment="topbar" class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">用户名：[[${session.loginUser}]]</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="搜索" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">注销</a>
        </li>
    </ul>
</nav>

<!-- thymeleaf 抽取模板也可使用 th:fragment="css选择器"-->
<nav id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 50px">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active"
                   th:class="${activeUri} == 'main.html' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/main.html}">
                    主页
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   th:class="${activeUri} == 'employees' ? 'nav-link active' : 'nav-link'"
                   th:href="@{/employees}">
                    员工管理
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>
</html>