@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1669530370225') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caoyuan:before {
  content: "\e68c";
}

.icon-JPG:before {
  content: "\e68d";
}

.icon-wancheng:before {
  content: "\e68e";
}

.icon-wenjian:before {
  content: "\e68f";
}

