<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-login" th:action="@{/login}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">请登录</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label class="sr-only">username</label>
    <label>
        <input type="text" name="username" class="form-control" placeholder="用户名" required="" autofocus="">
    </label>
    <label class="sr-only">password</label>
    <label>
        <input type="password" name="password" class="form-control" placeholder="密码" required="">
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    <p class="mt-5 mb-3 text-muted">©Alex McAvoy</p>
</form>

</body>

</html>