body {
  background: pink;
}
#box1 {
  width: 100px;
  height: 100px;
  background-image: url("../img/vue.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#box2 {
  width: 100px;
  height: 100px;
  background-image: url("../img/react.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#box3 {
  width: 100px;
  height: 100px;
  background-image: url("../img/angular.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
