<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.DepartmentMapper">
    <select id="getDepartmentById" resultType="com.bean.Department">
        SELECT * FROM department WHERE id=#{id}
    </select>

    <insert id="insertDepartment" useGeneratedKeys="true" keyProperty="id"  parameterType="com.bean.Department">
        INSERT INTO department(department_name) VALUES(#{departmentName})
    </insert>

    <delete id="deleteDepartmentById">
        DELETE FROM department WHERE id=#{id}
    </delete>

    <update id="updateDepartment">
        UPDATE department SET department_name=#{departmentName} WHERE id=#{id}
    </update>

    <select id="getDepartments" resultType="com.bean.Department">
        SELECT * FROM department
    </select>

</mapper>