<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>表单提交</h1>
<!-- 表单提交用户信息,注意字段的设置,直接是*{} -->
<form action="/user/login" method="post">
    <!-- CSRF 防护验证 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    用户名：<input type="text" name="username"/>
    <br>
    密码：<input type="text" name="password"/>
    <br>
    Remember Me：<input type="checkbox" name="remember-me"/>
    <br>
    <input type="submit"/>
</form>
</body>
</html>