<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>500</title>
</head>
<body>
<!-- 状态码 -->
<h1>status:[[${status}]]</h1>
<!-- 时间戳 -->
<h2>timestamp:[[${timestamp}]]</h2>
<!-- 错误提示 -->
<h2>error:[[${error}]]</h2>
<!-- 异常对象 -->
<h2>exception:[[${exception}]]</h2>
<!-- 异常消息 -->
<h2>message:[[${message}]]</h2>

<hr/>

<!-- 自定义json消息 -->
<h2>ext:[[${ext}]]</h2>
<!-- 消息代码 -->
<h2>code:[[${ext.code}]]</h2>
<!-- 消息 -->
<h2>message:[[${ext.message}]]</h2>
</body>

</html>